.login{
    width: 80%;
    margin: auto;
    transform: translateY(50px);
}

.login-form-forgot{
    float: right;
}

.login-form-forgot:hover{
    color: deepskyblue;
}

.forget{
    color: deepskyblue;
    cursor: pointer;
}
