.add-col{
    margin: auto;
    margin-bottom: 10px;
    /* height: 35px; */
}

.add-col button{
    margin: auto;
    display: block;
}

.table-col{
    margin: auto;
}

.delete{
    color: red;
    cursor: pointer;
}