.forgetDiv{
    text-align: center;
    width: 80%;
    margin: auto;
    max-width: 600px;
    transform: translateY(30%);
    height: 305px;
    background: white;
    padding: 6%;
    border-radius: 5px;
}

.progress{
    margin-bottom: 39px;
}